@import '@/app/assets/styles/abstracts';

.container {
  display: grid;

  @include container;

  grid-column-gap: 98px;
  margin-bottom: 50px;
  grid-template-columns: 540px 1fr;
  grid-template-rows: 1fr 1fr;

  p {
    @include text(text, 1);

    grid-area: 2 / 2 / 3 / 3;
    margin-top: 110px;
    max-width: 555px;
  }
}

.images {
  display: flex;

  @include container;

  flex-wrap: wrap;
}

.image {
  &:last-of-type {
    grid-area: 2 / 1 / 3 / 2;
  }
}
