@import '@/app/assets/styles/abstracts';

.container {
  @include container;

  padding: 130px 115px 220px 150px;
  display: flex;
  gap: 24px;
  align-items: flex-end;

  .paintings {
    margin-left: 73px;
    padding-top: 58px;
    padding-bottom: 108px;
    padding-left: 64px;
    flex: 1 1;
    align-self: stretch;
  }

  .description {
    @include text(text, 1);

    padding-bottom: 25px;

    &:not(:last-child) {
      margin-bottom: 86px;
    }

    span {
      display: flex;
    }
  }
}
