* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  font-family: Cormorant, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /*
  * Colors
  */
  --color-white: #fff;
  --color-black: #141414;
  --color-gray: #4e4e4e;
  --color-gray-dark: #2b2b2b;

  /*
  * Gradients
  */
  --linear-gradient-button: linear-gradient(
    90deg,
    #dcdcdc 0%,
    rgb(217 217 217 / 0%) 100%
  );
}

ul {
  list-style: none;
}
